@import "bourbon";
@import "vars.scss";

*::-webkit-input-placeholder{
    color: #666;
    opacity: 1;
}

*:-moz-placeholder{
    color: #666;
    opacity: 1;
}

*::-moz-placeholder{
    color: #666;
    opacity: 1;
}

*:-ms-input-placeholder{
    color: #666;
    opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid{
    color: #666;
}

body input:required:valid,
body textarea:required:valid{
    color: #666;
}

//Custom Styles Here

footer{
    background-color: #000000;
    width: 100%;
    overflow: hidden;
    padding-top: 11px;
    padding-bottom: 2px;
    ul{
        margin-top: 19px;
        float: left;
        padding-left: 0;
        padding-right: 0;
        li{
            float: left;
            margin-right: 20px;
            a{
                text-decoration: none;
                color: #616161;
                font-size: 16px;
            }
            a:hover{
                text-decoration: none;
                color: #fff;
            }
        }
    }
    .gs{
        float: right;
        margin: 9px;
        margin-right: 15px;
        display: block;
    }
    .gs:visited, .gs:active{
        text-decoration:none;
    }
}

.zagolovki{
    text-align: center;
    font-size:37.67px;
    font-family:ProximaNovaExtrabold;
    text-transform: uppercase;
    margin-top: 66px;
    letter-spacing: -0.9px;
}
.zag-line{
    max-width: 102px;
    margin: 10px auto;
    height: 6px;
    background-color: #d3c8b9;
}
.service{
  background-image: url("../img/bg-section1.jpg");
  min-height: 1153px;
}
.item{
    max-width: 397px;
    width: 100%;
    position: relative;
    min-height: 271px;
    text-align: center;
    text-transform: uppercase;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    float: left;
    cursor: pointer;
    color: #fff;
    font-size: 22.17px;
    font-family:ProximaNovaBold;
    padding-top: 127px;
    margin-top: 136px;
    z-index: 55;
    transition: 1s all;
    &:after{
      position: absolute;
      content: '';
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(44, 47, 56,.6);
      z-index:-1;
    }
  &:hover:after{
    background-color: transparent !important;
    transition: 1s all;
  }
  &:hover{
    margin-top: 100px;
    height: 310px;
  }

}
.info-item{
    display: inline-block;
    width: 100%;
}

.vid-service{
    margin-top: 50px;
    display: block;
    font-family:OpenSans-Light;
    font-size: 16.89px;
    h3{
        font-family:ProximaNovaBold;
        font-size: 22.17px;
        text-transform: uppercase;
        position: relative;
        padding-top: 64px;
        padding-left: 21px;
        letter-spacing: 0.5px;
        &:after{
            position: absolute;
            content: '';
            top: 64px;
            right: 33px;
            width: 42px;
            height: 31px;
            background-image: url("../img/arrow.png");
        }
    }
    ul{
       padding-top: 37px;

    }
    li{
        line-height: 39px;
    }
}
.vid-text{
    padding-top: 62px;
    padding-left: 32px;
    p{
        letter-spacing: 0.4px;
        padding-bottom: 12px;
    }
}
.technology{
    min-height: 1000px;
    background-image: url("../img/bg-section2.jpg");
}
.zagolovki-teh{
    margin-top: 23px;
    font-size: 31.67px;
    color: #fff;
    letter-spacing: 2.5px;
}
.zag-line_bg{
    background-color: #454750;
    margin: 16px auto;
    max-width: 100px;
}

.slider-teh{
    margin: 86px auto;
    max-width: 1166px;
}
.in-slide{
    width: 100%;
    min-height: 420px;
    background-color: #fff;
}

.left-slide{
    min-height: 140px;
    max-width: 726px;
    width: 100%;
    text-align: center;
    display: inline-block;
    background-color: #d3c8b9;
    float: left;
    h4{
        font-size: 28.5px;
        font-family:ProximaNovaSemibold;
        padding-top: 57px;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 4px;
    }
}
.right-slide{
    display: inline-block;
    background-image: url("../img/bg-slider.jpg");
    height: 140px;
    max-width: 440px;
    width: 100%;
    background-repeat: no-repeat;
}
.alg-text{
    color: #fff;
    padding-left: 69px;
    padding-top: 40px;
    position: relative;
    &:after{
        position: absolute;
        content: '';
        top: 69px;
        left: 57px;
        width: 85px;
        height: 2px;
        background-color: #fff;
        transform: rotate(135deg);
    }

    p{
        font-family:ProximaNovaBold;
        font-size:38px;
        line-height: 27px;
    }
    tt{
        font-size:37.67px;
        font-family:ProximaNovaLight;
        padding-left: 35px;
    }
}
.bot-slide{
    max-width: 840px;
    margin: 0 auto;
    font-family: OpenSans-Light;
    font-size: 18.75px;
    padding-top: 78px;
    letter-spacing: 0.4px;
    line-height: 27px;
    padding-left: 22px;
}

body .lSSlideOuter .lSPager.lSpg>li {
    margin-top: 74px;

}
body .lSSlideOuter .lSPager.lSpg>li a{
    width: 15px;
    height: 15px;
}
body .lSSlideOuter .lSPager.lSpg>li.active a, .lSSlideOuter .lSPager.lSpg>li:hover a{
    background-color: #d3c8b9;
}
body .lSAction>a{
    top:16%;
    background-image: url("../img/slide-click.png");
    background-repeat: no-repeat;
    width: 17px;
    height: 39px;
    display: block;
    background-position: center;
    opacity: 1;
}
body .lSAction>.lSNext{
    right: 59px;
    background-position: center;
}
body .lSAction>.lSPrev{
    display: none;
}
.question{
    position: relative;
    z-index: 99;
    &:after{
        position: absolute;
        content: '';
        top: -200px;
        left: 36%;
        width: 362px;
        height: 462px;
        background-image: url("../img/faq.png");
        z-index: -1;
    }
}
.question-top{
    text-align: center;
    font-size:18.17px;
    text-transform: uppercase;
    font-family:ProximaNovaBold;
    h1{
        margin-top: 35px;
    }
}
.question-mid{
    width: 96.5%;
    margin: 66px auto;

    li{
        margin-bottom: 5px;
        background-color: #f5f5f5;
    }
    a{
        display: block;
        padding: 16px;
        padding-left: 103px;
        position: relative;
        color: #000;
        font-size: 16.89px;
        font-family:OpenSans-Light;
        &:hover{
            text-decoration: none;
        }
        &:after{
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 70px;
            height: 58px;
            background-color: #d3c8b9;
            background-image: url("../img/bot-arrow.png");
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}

.question-popup{
    max-width: 1166px;
    min-height: 296px;
    margin: 148px auto;
    background-color: #fff;
    text-align: center ;
    position: relative;
    box-shadow: 0 0 50px rgba(0,0,0,0.3);
    &:after{
        position: absolute;
        content: '';
        top: -88px;
        left: 50.2%;
        width: 1px;
        height: 88px;
        background-color: #d2c7b8;
    }
    &:before{
        position: absolute;
        content: '';
        bottom: -88px;
        left: 50.2%;
        width: 1px;
        height: 88px;
        background-color: #d2c7b8;
    }
    img{
        position: absolute;
        left: 14.3%;
        top: -74px;
        z-index: 55;

    }

}
.baner-popup_p{
    margin-top: 0;
    p{
        padding-left: 115px;
    }
}
.question-top_h{
    letter-spacing: 0.2px;
    h1{
        margin-top: 6px;
        line-height: 40px;
    }
}
.hard-right{
    margin-top: 40px;
    background-image: url("../img/hard1.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 49%;
}
.hard-left{
    margin-top: 117px;
    background-image: url("../img/hard2.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 10%;
}
.box-hard {
    height: 355px;
    max-width: 490px;
    margin-left: 55px;
    margin-top: 68px;
    position: relative;
    z-index: 55;
    &:after{
        position: absolute;
        content: '';
        left: -39px;
        bottom: -39px;
        width: 573px;
        height: 360px;
        background-image: url("../img/bg-hard-box.png");
        z-index: -1;
    }
    img{
        width: 100%;
        height: 100%;
    }
}
.box-hard-right{
    margin-left: 36px;
}
.number{
    background-color: #e2dbd2;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    width: 68px;
    height: 68px;
    margin-top: 128px;
    font-size:31.67px;
    font-family:ProximaNovaBold;
}
.in-text-hard{
    margin-left: 100px;
    h2{
        padding-top: 23px;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 0;
        line-height: 31px;
    }
    p{
        padding-top: 30px;
        font-size: 17.1px;
        letter-spacing: 0.4px;
        line-height: 29px;
    }
}
.number_left{
    float: right;
    margin-top: 158px;
}
.in-text-hard_left{
    text-align: right;
    margin-left: 0;
    margin-right: 102px;
}
.hard-right_marg{
    margin-top: 190px;
}
.shield{
    min-height: 450px;
    background-image: url("../img/bg-for-shield.jpg");
    background-repeat: no-repeat;
    margin-top: 154px;
}
.garant{
    max-width: 767px;
    width: 100%;
    background-color: #fff;
    min-height: 384px;
    margin: 80px auto;
    box-shadow: 0 0 50px rgba(0,0,0,0.3);
    background-image: url("../img/shield.png");
    background-repeat: no-repeat;
    background-position: center 60px;
    text-align: center;
    padding-top: 239px;
    letter-spacing: 1.9px;
    h2{
        font-size:22.17px;
        text-transform: uppercase;
        font-family:ProximaNovaBold;
    }
}

.zagolovki-us{
    margin-top: 48px;
}
.for-us{
    background-image: url("../img/numeral.png");
    background-position: center 367px;
    background-repeat: no-repeat;
}
.for-item{
    margin-top: 62px;
}
.for-us-item{
    vertical-align: middle;
    padding-left: 23px;
    p{
        font-size: 19px;
        color: #020202;
        font-family:OpenSans-Light;
        vertical-align: middle;
        display: inline-block;
    }
    span{
        color: #d3c8b9;
        font-size:128.78px;
        font-family:ProximaNovaExtrabold;
        text-shadow: 0 0 30px rgba(0,0,0,0.1);
        vertical-align: middle;
        display: inline-block;
        padding-right: 25px;
    }
}
//ALWAYS END
@import "media.scss";
@import "sketches.scss";