@import "bourbon";
@import "vars.scss";

*::-webkit-input-placeholder{
    color: #666;
    opacity: 1;
}

*:-moz-placeholder{
    color: #666;
    opacity: 1;
}

*::-moz-placeholder{
    color: #666;
    opacity: 1;
}

*:-ms-input-placeholder{
    color: #666;
    opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid{
    color: #666;
}

body input:required:valid,
body textarea:required:valid{
    color: #666;
}

//Custom Styles Here

footer{
    background-color: #000000;
    width: 100%;
    overflow: hidden;
    padding-top: 11px;
    padding-bottom: 2px;
    ul{
        margin-top: 19px;
        float: left;
        padding-left: 0;
        padding-right: 0;
        li{
            float: left;
            margin-right: 20px;
            a{
                text-decoration: none;
                color: #616161;
                font-size: 16px;
            }
            a:hover{
                text-decoration: none;
                color: #fff;
            }
        }
    }
    .gs{
        float: right;
        margin: 9px;
        margin-right: 15px;
        display: block;
    }
    .gs:visited, .gs:active{
        text-decoration:none;
    }
}

.zagolovki{
    text-align: center;
    font-size:37.67px;
    font-family:ProximaNovaExtrabold;
    text-transform: uppercase;
    margin-top: 66px;
    letter-spacing: -0.9px;
}
.zag-line{
    max-width: 102px;
    margin: 10px auto;
    height: 6px;
    background-color: #d3c8b9;
}
.service{
  background-image: url("../img/bg-section1.jpg");
  min-height: 1153px;
}
.item{
    max-width: 397px;
    width: 100%;
    position: relative;
    min-height: 271px;
    text-align: center;
    text-transform: uppercase;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    float: left;
    cursor: pointer;
    color: #fff;
    font-size: 22.17px;
    font-family:ProximaNovaBold;
    padding-top: 127px;
    margin-top: 136px;
    z-index: 55;
    transition: 1s all;
    &:after{
      position: absolute;
      content: '';
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(44, 47, 56,.6);
      z-index:-1;
    }
  &:hover:after{
    background-color: transparent !important;
    transition: 1s all;
  }
  &:hover{
    margin-top: 100px;
    height: 310px;
  }

}
.info-item{
    display: inline-block;
    width: 100%;
}

.vid-service{
    margin-top: 50px;
    display: block;
    font-family:OpenSans-Light;
    font-size: 16.89px;
    h3{
        font-family:ProximaNovaBold;
        font-size: 22.17px;
        text-transform: uppercase;
        position: relative;
        padding-top: 64px;
        padding-left: 21px;
        letter-spacing: 0.5px;
        &:after{
            position: absolute;
            content: '';
            top: 64px;
            right: 33px;
            width: 42px;
            height: 31px;
            background-image: url("../img/arrow.png");
        }
    }
    ul{
       padding-top: 37px;

    }
    li{
        line-height: 39px;
    }
}
.vid-text{
    padding-top: 62px;
    padding-left: 32px;
    p{
        letter-spacing: 0.4px;
        padding-bottom: 12px;
    }
}
.technology{
    min-height: 1000px;
    background-image: url("../img/bg-section2.jpg");
}
.zagolovki-teh{
    margin-top: 23px;
    font-size: 31.67px;
    color: #fff;
    letter-spacing: 2.5px;
}
.zag-line_bg{
    background-color: #454750;
    margin: 16px auto;
    max-width: 100px;
}

.slider-teh{
    margin: 86px auto;
    max-width: 1166px;
}
.in-slide{
    width: 100%;
    min-height: 420px;
    background-color: #fff;
}

.left-slide{
    min-height: 140px;
    max-width: 726px;
    width: 100%;
    text-align: center;
    display: inline-block;
    background-color: #d3c8b9;
    float: left;
    h4{
        font-size: 28.5px;
        font-family:ProximaNovaSemibold;
        padding-top: 57px;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 4px;
    }
}
.right-slide{
    display: inline-block;
    background-image: url("../img/bg-slider.jpg");
    height: 140px;
    max-width: 440px;
    width: 100%;
    background-repeat: no-repeat;
}
.alg-text{
    color: #fff;
    padding-left: 69px;
    padding-top: 40px;
    position: relative;
    &:after{
        position: absolute;
        content: '';
        top: 69px;
        left: 57px;
        width: 85px;
        height: 2px;
        background-color: #fff;
        transform: rotate(135deg);
    }

    p{
        font-family:ProximaNovaBold;
        font-size:38px;
        line-height: 27px;
    }
    tt{
        font-size:37.67px;
        font-family:ProximaNovaLight;
        padding-left: 35px;
    }
}
.bot-slide{
    max-width: 840px;
    margin: 0 auto;
    font-family: OpenSans-Light;
    font-size: 18.75px;
    padding-top: 78px;
    letter-spacing: 0.4px;
    line-height: 27px;
    padding-left: 22px;
}
//ALWAYS END
@import "media.scss";
@import "sketches.scss";